/* @tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants; */


@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;

}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer utilities {
    .custom-active-class:hover {
        background-color: rgb(241 245 249);
    }
    .custom-active-class:active {
        background-color: var(--primary-color);
        color: #fff;
    }
}
*{
    box-sizing: border-box;
}
:root {
    --primary-color: #007bff !important;
    --pv-checkbox-tick-color: #007bff !important;
    --link-color: #006cab;
}

body {
    box-sizing: border-box;
}

.width-5 {
    width: 500px;
}


.p-checkbox.p-highlight .p-checkbox-box {
    border-color: var(--primary-color);
    background: var(--primary-color);
}

.link-color {
    color: var(--link-color);
}

.active {
    background-color: var(--primary-color);
    color: #fff;
}


.app{
    background: #f8f7fa;
    height: 100vh;
}
.main-card{
    padding-top: 88px;
}
.content{
    height: 86vh;
    padding: 1rem
}
.primary-corlor{
    color: var(--primary-color);
}
.border-primary{
    border: 1px solid theme('colors.primary');
}
.p-datatable .p-sortable-column.p-highlight {
    background: #EFF6FF;
    color: var(--primary-color);
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon{
    color: var(--primary-color);
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    background: #EFF6FF;
    color: var(--primary-color);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    color: var(--primary-color);
    background: #EFF6FF;
}
.p-dialog-title{
    font-size: 1.5rem;
}
.button-primary {
    @apply bg-primary hover:bg-primary-800 focus:outline-none border-primary;
}
